<div class="text-field text-center my-1">
	<h2>Sorry! Site is still under maintenance</h2>
	<p>Kindly email us at <strong>christiepng.my@gmail.com</strong> for more information regarding your interest!</p>

	<%= link_to "Back", products_home_path, :class => "btn btn-primary" %>
</div>

